@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url(../css/root.css);

* {
    scroll-behavior: smooth !important;
}

/***** header *****/
.bg-img {
    background-image: url("../images/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.cursor-pointer {
    cursor: pointer;
}

.gap-32 {
    gap: 32px;
}

.z-5 {
    z-index: 5;
}

.navbar-link {
    transition: all 300ms linear;
}

.navbar-link:hover {
    color: var(--color-sky-blue);
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.py-14 {
    padding: 14px 0;
}

.rotate40 {
    transform: rotate(42deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.robot-img {
    animation: up-and-down 3s ease-in-out infinite;
}

.nav-btn-1,
.nav-btn-2,
.call-now-btn {
    padding: 13.5px 32px 13.5px 32px;
    border-radius: 57px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    box-shadow: 0px 0px 12px 0px #BF97FF3D inset;
}

.call-now-btn {
    padding: 19.5px 38.5px 19.5px 38.5px;
}

.call-now-btn:hover,
.nav-btn-1:hover,
.nav-btn-2:hover {
    background-image: linear-gradient(103.52deg, #32C8F1 18.99%, #3A3EF5 82.34%);
}

.planet {
    top: 25%;
    left: 0%;
}

.mb-56 {
    margin-bottom: 56px;
}

.max-w-705 {
    max-width: 705px;
}

/***** header done *****/
/***** section 1 *****/
.max-w-180 {
    max-width: 180px;
}

.max-w-225 {
    max-width: 225px;
}

/***** section 1 done *****/
/***** section 2 *****/
.slider-card {
    max-width: 364px;
    padding: 24px;
    background: linear-gradient(180deg, rgba(59, 40, 246, 0.22) 0%, rgba(59, 40, 246, 0) 100%);
    border-radius: 24px;
}

.pt-10 {
    padding-top: 10px;
}

.gap-8 {
    gap: 8px;
}

.pt-40 {
    padding-top: 40px;
}

.slick-track {
    gap: 24px !important;
    display: flex !important;
    padding-top: 40px;
}

.slick-dots li button:before {
    font-size: 10px !important;
    color: var(--color-white) !important;
}

.slick-dots li.slick-active button:before {
    opacity: 100% !important;
    color: var(--color-sky-blue) !important;
}

/***** section 2 done *****/
/***** section 3 *****/
.accordion {
    max-width: 1022px;
    width: 100%;
    --bs-accordion-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
}

.accordion-item {
    background-color: var(--color-ninja) !important;
    border: 1px solid #FFFFFF1A !important;
    border-radius: 12px !important;
}

.accordion-button {
    background-color: var(--color-ninja) !important;
}

.accordion-button::after {
    background-image: url(../images/svg/arrow-svg.svg) !important;
}

.accordion-header .accordion-button {
    border-radius: 12px !important;
}

.accordion-item::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 12px !important;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.accordion-button:not(.collapsed)::before {
    content: "";
    position: absolute;
    inset: 0;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.mt-60 {
    margin-top: 60px;
}

/***** section 3 done *****/
/***** footer *****/
.pt-14 {
    padding-top: 14px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    transition: all 300ms linear;
}

.circle:hover {
    transform: scale(1.1);
}

.mt-18 {
    margin-top: 18px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.mt-32 {
    margin-top: 32px;
}

.up {
    width: 20px;
    height: 20px;
}

.footer-link {
    color: var(--color-white);
    transition: all 300ms linear;
}

.footer-link:hover {
    color: var(--color-sky-blue);
    opacity: 100%;
}

.line::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.7) 47%,
            rgba(255, 255, 255, 0) 100%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

/***** footer done *****/
/***** animation *****/
@keyframes up-and-down {
    50% {
        transform: translateY(-20px);
    }
}

/***** animation done *****/
/***** responsive *****/
@media (max-width:575.98px) {
    .pt-356 {
        padding-top: 80px;
    }

    .mb-175 {
        margin-bottom: 80px;
    }

    .mb-210 {
        margin-bottom: 80px;
    }
}

@media (min-width:768px) {
    .verticle-line {
        border-right: 1px solid;
        border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) 1;
    }

    .verticle-line-2 {
        border-right: 1px solid;
        border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) 1;
    }
}

@media (max-width:767.98px) {
    .verticle-line {
        border-right: 1px solid;
        border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) 1;
    }

    .col-6-sm {
        width: 50% !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: black !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }

    .mt-40 {
        margin-top: 40px;
    }

    .pt-156 {
        padding-top: 60px;
    }

    .pt-356 {
        padding-top: 150px;
    }

    .mb-175 {
        margin-bottom: 150px;
    }

    .mb-210 {
        margin-bottom: 150px;
    }
}

@media (min-width:992px) {
    .mb-210 {
        margin-bottom: 210px;
    }

    .bg-img {
        padding-bottom: 200px;
    }

    .robot-img {
        padding-bottom: 118px;
    }

    .pt-156 {
        padding-top: 156px;
    }

    .pt-356 {
        padding-top: 356px;
    }

    .mb-175 {
        margin-bottom: 175px;
    }
}

@media (min-width:545.98px) {
    .menu-btn {
        display: none;
    }
}

@media (max-width:545.98px) {
    .planet {
        width: 100%;
        top: 46%;
    }

    .nav-btn-2 {
        display: none;
    }
}

@media (min-width:1400px) and (max-width:1599.98px) {
    .container {
        max-width: 1164px !important;
    }

    .bg-size-full {
        background-size: 100% 100% !important;
    }
}

/***** responsive done *****/